html {
    height: 100%;
}

body {
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,0,0,1) 100%);
}

.root {
    height: 100%;
    width: 50%;
    margin: auto;
    text-align: center;
}

header {
    margin: 50px;
}

.form {
    width: 100%;
    display: flex;
    margin: auto;
}

.inputForm {
    width: 100%;
    outline: none;
    border-radius: 0px;
    border: none;
    margin: auto;
    margin-right: 10px;
    height: 30px;
}

.todo {
    width: 100%;
    display: flex;
    margin-top: 10px;
}

.todo li {
    width: 100%;
    text-align: left;
    margin-right: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

.todolist-container {
    margin-top: 50px;
}

.buttonDone {
    margin-right: 5px;
}

.done {
    text-decoration: line-through;
    opacity: 0.5;
}